<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Termine</title>
        <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous">
        <style>
            {% for color in colors %}
                .bg-color-{{ color[0] }} {
                 background-color: {{color[1]}} !important;
                }
            {% endfor %}
        </style>
        <style>
        .rounded-pill-cell {
          border-radius: 20px; /* Adjust the value to change the roundness */
          padding: 10px; /* Add padding for better appearance */
          color: white !important;
        }
        </style>
    </head>
    <body>
        <div class="container-fluid text-sm-center p-5 bg-light">
            <h1 class="display-4">Aktuelle Termine</h1>
            <h3>{{moment().format('dddd, DD.MM.YY')}} Uhr</h3>
        </div>
        <div class="container-fluid">
            <div class="row ">
            {% if gallery %}
            <div class="col-5 gallery">
                {% for image in images %}
                <img src="static/gallery_images/{{ image }}" class="img-fluid img-thumbnail" style="max-height:{{ max_image_height }}px; display: none;">
                {% endfor %}
            </div>
            <div class="col-7">
            {% else %}
             <div class="col-12">
            {% endif %}
            <table class="table" style="border-collapse: separate; border-spacing: 0 1em;">
                {% for entry in entries %}
                <tr>
                    <!--td style="width: 2%; writing-mode: vertical-rl; text-orientation: upright" class="bg-color-{{entry.calendar.id}}"><b>{{ entry.calendar.name[:3]|upper }}</b></td-->
                    <!--td style="width: 2%" class="bg-color-{{entry.calendar.id}}"></td-->
                    <td>
                        <h4>
                            {{ moment(entry.startDate).format('dddd') }}
                        </h4>
                    </td>
                    <td>
                        <h4>
                            {{ moment(entry.startDate).format('DD. MMMM') }}
                        </h4>
                    </td>
                    <td>
                        <h4>
                        {% if not entry.allDay %}
                        {{ moment(entry.startDate).format('HH:mm') }}
                        {% else %}
                        ganztägig
                        {% endif %}
                        </h4>
                    </td>
                    <td><h4><b>{{ entry.caption }}</b></h4>
                        <h5 class="text-muted">
                        {% if entry.note is not none and entry.address.meetingAt is not none%}
                        {{ entry.note }}<br>{{ entry.address.meetingAt }}
                        {% elif entry.note is not none %}
                        {{ entry.note }}
                        {% elif entry.address.meetingAt is not none %}
                        {{ entry.address.meetingAt }}
                        {% endif %}
                        </h5>
                    </td>
                    {% if entry.calendar.name != "" %}
                    <td>
                        <div style="padding-top: 3%; padding-bottom: 0.5%" class="rounded-pill-cell bg-color-{{entry.calendar.id}}">
                        <center><h6><b>{{ entry.calendar.name }}</b></h6></center>
                    </div>
                    </td>
                    {% else %}
                    <td></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </table>
            </div>
            </div>
        </div>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous">
        </script>
        {{ moment.include_moment() }}
        {{ moment.locale("de") }}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
        $(document).ready(function() {
          let currentIndex = 0;
          const images = $('.gallery img');
          const imageCount = images.length;

          // Ensure there's at least one image.
          if (imageCount === 0) {
            console.error("No images found in the gallery.");
            return;
          }

          // Show the first image explicitly, in case it's not marked as active.
          images.eq(currentIndex).show();

          function cycleImages() {
            // Hide current image
            images.eq(currentIndex).hide();
            // Move to the next image, wrapping around if at the end
            currentIndex = (currentIndex + 1) % imageCount;
            // Show the next image
            images.eq(currentIndex).show();
          }

          // Change image every X seconds
          setInterval(cycleImages, {{ interval }});
        });
        </script>
    </body>
</html>