<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Termine</title>
        <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
        <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
        <style>
            {% for color in colors %}
                .bg-color-{{ color[0] }} {
                 background-color: {{color[1]}} !important;
                }
            {% endfor %}
        </style>
        <style>
        .rounded-pill-cell {
          border-radius: 20px; /* Adjust the value to change the roundness */
          padding: 10px; /* Add padding for better appearance */
          color: white !important;
        }
        </style>
        <style>
            tr.lightBorder td {
             border-width: 1px 0px 0px 0px;
            }
            tr.strongBorder td {
             border-width: 1px 0px 0px 0px;
             border-color: #7e807f;
            }
            td.noBorder {
             border: 0px;
            }
            tr.noBorder td {
             border: 0px;
            }
        </style>
        <style>
        body { font-family: 'Roboto';
        }
        {% if not gallery %}
        h4 {font-size: 2.6rem;}
        h5 {font-size: 2.1rem;}
        h6 {font-size: 1.4rem;}
        {% endif %}
        </style>
    </head>
    <body>
        <!--div class="container-fluid text-sm-center p-5 bg-light">
            <h1 class="display-4">Aktuelle Termine</h1>
            <h3>{{moment().format('dddd, DD.MM.YY')}}</h3>
        </div-->
        <div class="container-fluid p-5"></div>
        <div class="container-fluid">
            <div class="row">
            {% if gallery %}
            <div class="col-5 gallery justify-content-center align-self-center">
                {% for image in images %}
                <img src="static/gallery_images/{{ image }}" class="img-fluid" style="max-height:{{ max_image_height }}px; box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); display: none;">
                {% endfor %}
            </div>
            <div class="col-7">
            {% else %}
                <div class="col-1"></div>
             <div class="col-10">
            {% endif %}
            <table class="table" style="border-collapse: separate; border-spacing: 0 1em;">
                {% for entry in entries %}
                {% if loop.index0 == 0 %}
                <tr class="noBorder">
                {% elif date_mask[loop.index0] %}
                <tr class="strongBorder">
                {% else %}
                <tr class="lightBorder">
                {% endif %}
                    {% if date_mask[loop.index0] %}
                    <td>
                        <h4>
                            {{ moment(entry.startDate).format('dddd') }}
                        </h4>
                    {% else %}
                    <td class="noBorder">
                    {% endif %}
                    </td>

                    {% if date_mask[loop.index0] %}
                    <td>
                    <h4>
                        {{ moment(entry.startDate).format('DD. MMMM') }}
                    </h4>
                    {% else %}
                    <td class="noBorder">
                    {% endif %}
                    </td>
                    <td>
                        <h4>
                        {% if not entry.allDay %}
                        {{ moment(entry.startDate).format('HH:mm') }}
                        {% else %}
                        ganztägig
                        {% endif %}
                        </h4>
                    </td>
                    <td style="width:40%;"><h4><b>{{ entry.caption }}</b></h4>
                        <h5 class="text-muted">
                        {% if entry.note is not none and entry.address.meetingAt is not none%}
                        {{ entry.note }}<br>{{ entry.address.meetingAt }}
                        {% elif entry.note is not none %}
                        {{ entry.note }}
                        {% elif entry.address.meetingAt is not none %}
                        {{ entry.address.meetingAt }}
                        {% endif %}
                        </h5>
                    </td>
                    {% if entry.calendar.name != "" %}
                    <td>
                        <div style="padding-top: 3%; padding-bottom: 0.5%" class="rounded-pill-cell bg-color-{{entry.calendar.id}}">
                        <center><h6><b>{{ entry.calendar.name }}</b></h6></center>
                    </div>
                    </td>
                    {% else %}
                    <td></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </table>
            </div>
            </div>
                {% if not gallery %}
            <div class="col-1">
                {% endif %}
        </div>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous">
        </script>
        {{ moment.include_moment() }}
        {{ moment.locale("de") }}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
        $(document).ready(function() {
          let currentIndex = 0;
          const images = $('.gallery img');
          const imageCount = images.length;

          // Ensure there's at least one image.
          if (imageCount === 0) {
            console.error("No images found in the gallery.");
            return;
          }

          // Show the first image explicitly, in case it's not marked as active.
          images.eq(currentIndex).show();

          function cycleImages() {
            // Hide current image
            images.eq(currentIndex).hide();
            // Move to the next image, wrapping around if at the end
            currentIndex = (currentIndex + 1) % imageCount;
            // Show the next image
            images.eq(currentIndex).show();
          }

          // Change image every X seconds
          setInterval(cycleImages, {{ interval }});
        });
        </script>
    </body>
</html>